.of{
    padding:25px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: purple;

}

.on{
    padding:25px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 100%;
}

.indicator{
    margin: 25px 0 0 45px;
}