.acc{
    display: inline-block;
    border: 3px solid black;
    margin-left: 25%;
    background-color: #008800;
    padding: 25px;

}

.acc_title{
    padding: 5px;
    border: 1px solid purple;
    background-color: purple;
    color: #eeeeee;
    border-radius: 50%;
    cursor: pointer;
}